@import "./variables/variables";
@import "./blocks/header";
@import "./blocks/main";
@import "./blocks/tab";
@import "./blocks/forpass";
@import "./blocks/meet";
@import "./blocks/consultation";
@import "./blocks/reason";
@import "./blocks/unique";
@import "./blocks/material";
@import "./blocks/services";
@import "./blocks/prefoot";
@import "./blocks/videolection";
@import "./blocks/footer";
@import "./blocks/modal";
@import "./blocks/aboutus";
@import "./blocks/mission";
@import "./blocks/sertificates";
@import "./blocks/menu";
@import "./blocks/contact";

* {
  font-family: "Montserrat", sans-serif;
  color: $mainBlackColor;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  cursor: pointer;
  background-color: #273953;
  border: none;
  padding: 16px 56px;
  font-weight: 600;
  font-size: 14px;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 16px;
  text-align: center;
}

.line-v {
  height: 100%;
  width: 2px;
  background-color: #909090;
}
