// mission -- About-us page

.mission {
  margin-top: 90px;

  &-purpose {
    display: flex;
    gap: 32px;

    &-item {
      flex: 1;
      padding: 40px;
      border: 1px solid #4f4f4f;
      border-radius: 20px;

      .title {
        font-weight: 600;
        font-size: 35px;
        line-height: 53px;
      }

      .descr {
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #273953;
      }
    }
  }

  &-principle {
    margin-top: 32px;
    padding: 40px;
    background-color: #f3d07b;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 32px;

    .title {
      font-weight: 600;
      font-size: 35px;
      line-height: 53px;
    }

    .descr {
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #273953;
    }
  }
}

@media (max-width: 748px) {
  .mission {
    &-purpose {
      flex-wrap: wrap;

      &-item {
        flex: 1 1 340px;
        padding: 24px;
      }
    }

    &-right {
      &-down {
        gap: 24px;
      }
    }
  }
}

@media (max-width: 658px) {
  .mission {
    &-principle {
      flex-direction: column;
      align-items: start;
      padding: 32px;
    }
  }
}
